<div class="container mt-4 bg-white py-3 px-4" style="width: 800px;">
    <h1>Edit flat</h1>
  <%= render 'form', flat: @flat %>
  <%= link_to 'Go back', flats_path, class: 'btn btn-warning' %>
</div>